@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);




/* --------------------------------------------
  * 공통 클래스 */

  .reset-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .button {
    cursor: pointer;
    border: none;
  }
  
  .a11y-hidden {
    overflow: hidden;
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .response{
    max-width: 100%;
    height: auto;
  }
  ::-moz-selection {
    background: #233d84;
    color: #ffffff;
  }
  
  ::selection {
    background: #233d84;
    color: #ffffff;
  }

  html{
    font-size: 10px;
  }
  
  body * {
    -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
    tap-highlight-color: rgba(255, 255, 200, 0.3);
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.6rem;

  }

  nav a {
    color: inherit;
    text-decoration: none;
  }
  
  a img {
    vertical-align: middle;
  }

  /* 헤더 디자인 */
  .app-header{
    background-color: #fff;
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #f5f4fb;

  }

  /* 브랜드 로고 */
  .brand{
    margin: 0;
    line-height: 16px;
    padding: 2px;
  }

  .brand a{
    display:block;
    padding: 20px;

  }

  /* 메인 메뉴 열기 버튼 */
  .is-open-menu{
    background-color: #fff;
    padding: 33px 28px;
  }
  .is-open-menu .ir{
    display: inline-block;
    background: url(./../images/navigation-button.gif);
    width: 26px;
    height: 22px;  
    background-repeat: no-repeat; 
    background-color: #fff; 
    background-position: 50% 50%;
  }

  /* 네비게이션 */
  .app-navigation{
    background: hsla(225, 57%, 10%, 0.9);
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    transition: all 0.4s cubic-bezier(0.66, -0.01, 0.3, 0.99);
    transform: translateX(105vw);
  }

  .app-navigation.is-active {
    transform: translateX(0);
  }

  .app-navigation ul{
    width: 100%;
    margin-top: 10px;
  }

  .app-navigation li{
    border-bottom: 0.5px solid #f5f4fb;
  }
  .app-navigation a{
    display: block;
    padding: 10px;
    transition: all 0.4s ease;

  }

  .app-navigation a:hover,
  .app-navigation a:focus {
  background: #2e437c;
}

 .is-close-menu{
   order: -1;
   padding: 18px;
   background-color: transparent;
 }

 .is-close-menu .close{
   color: #fff;
   font-size: 30px;
 }

 /* 메인 콘텐츠 */
 .app-main{
   background-color: yellow;
 }
/* 반응형 구현 방법은 여러가지가 있다
쉽게 가려면
모바일은 노멀플로우, 데스크탑은 플렉스

정석으로 가려면
모바일 , 데스크탑 공통적으로 플렉스, 로우방향 
모바일은 100%, 데스크탑은 248px 크기로 */

 .ediya-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 50%;
  margin: auto;
}

 .ediya-menu figure{
   width: 248px;
 }

 .ediya-menu figcaption{
  display: flex;
  font-size: 18px;
  color: grey;
  justify-content:center;
}

 .ediya-menu img {
   width: 248px;
   height: auto;
   margin-left: 0;
   margin-right: 0;
 }

 .ediya-menu a{
  
   display: block;
   background-color: #464646;
   width: 100%;
   height: 100%;
 }



.ediya-menu__item{
  position: relative;
  flex: 1 1 40%
  background-color: blue;
  margin: 0px;
}

 /* 미디어 쿼리 규칙(media query) */
@media all and (min-width: 768px) {
  .app-main {
    background-color:pink;
  }
}

/* 부모가 늘어나면 안에 자식요소(콘텐츠)도 같이 늘어나고 줄어드는 방법은 response, max-width:100% , height:auto */

